* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;

}

header {
    background-image: url('../new-year/images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner-container {

    max-width: 70%;
    text-align: right;
    padding: 200px 220px;
}

.banner-title {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;

}

.banner-content {

    margin: 30px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    line-height: 26px;
    margin-bottom: 33px;
}

.btn-p {
    border-radius: 5px;
    background: #FFF;
    padding: 18px 35px;
    color: #005FAC;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border: 0;

}



.failure-container {
    display: flex;
    gap: 100px;
    justify-content: space-around;
    margin: 110px 230px;
}

.failures-col {
    max-width: 50%;
}

.failures-col img {
    width: 451px;
}

.failures-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    padding-top: 150px;
}

.failures-desc {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;
    width: 416px;

}

.point p {
    color: #444343;

    font-size: 16px;
    padding-top: 8px;
    font-weight: 400;
    line-height: 26px;

}

.rong {
    color: #16D887;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    text-align: center;

}

.plans-section {
    margin: 120px 200px;
}

.plans-title {
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.plans h3 {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
}

.plans p {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.clock-section {
    margin: 120px 200px;
}

.clock {

    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 8px;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url('../new-year/images/watch.png');
    max-width: 285%;
    padding: 60px 65px;
}

.clock-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 24px;


}

footer {
    display: flex;
    gap: 100px;
    background: #151414;
    padding: 130px 200px;
    margin-top: 100px;
}

.tfoot {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;

}

.tfoot-content {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;

}

.tf-s {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;

}

.footer-col {
    width: 50%;

}

.contact input {
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    width: 325px;
    padding: 18px 35px;
    background: #151414;
    border-radius: 10px;
    margin-top: 20px;


}

.btn-k{
    border-radius: 5px;
    background: #005FAC;
    padding: 18px 35px;
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-top: 20px;


}

.social-icon a {
    margin-right: 10px;
}